# Ignorar el dataset

archive/
archive_img/
archive_img_augment/
best_model_a_raw.pth
model_a_raw_metrics.json
best_model_a_augmented.pth
wandb/
*.pth
.venv/
.venv-1/
Dataset/
cache_mels/
cache_mels_full/
.DS_Store
__pycache__/
*.pyc
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos generados por LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
